*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html , body{
    width:100%;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
#nav{
    display: flex;
    align-items: center;
    padding:5px 15px;
    width: 100%;
    height:10%;
    gap:20px;
    background-color:rgb(10, 10, 16);
    color:white;
}
#amazon{
    font-size:20px;
}
#box1{
    padding:12px 0px;
    width:150px;
    height:50px;
    background-color:transparent;
    text-align: center;
    transition:0.1s;
}
#box1:hover{
    transition:0.1s;
    cursor: pointer;
}
#box2{
    font-size:13px;
    color:white;
    font-weight: bold;
    border:transparent;
    width:80px;
    height:40px;
    text-align: center;
    padding:10px 0px;
    border-radius: 10px;
    transition: 0.1s;
}
#box2:hover{
    transition:0.1s;
    background-color: white;
    color:black;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}
#box3{
    font-size:13px;
    color:white;
    font-weight: bold;
    border:transparent;
    width:80px;
    height:40px;
    text-align: center;
    padding:10px 0px;
    border-radius: 10px;
    transition: 0.1s;
}
#box3:hover{
    transition:0.1s;
    background-color: white;
    color:black;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}
#box4{
    font-size:13px;
    color:white;
    font-weight: bold;
    border:transparent;
    width:80px;
    height:40px;
    text-align: center;
    padding:10px 0px;
    border-radius: 10px;
    transition: 0.1s;
}
#box4:hover{
    transition:0.1s;
    background-color: white;
    color:black;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}
#box5{
    font-size:13px;
    color:white;
    font-weight: bold;
    border:transparent;
    width:80px;
    height:40px;
    text-align: center;
    padding:10px 0px;
    border-radius: 10px;
    transition: 0.1s;
}
#box5:hover{
    transition:0.1s;
    background-color: white;
    color:black;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}
#box6{
    width:2px;
    height:30px;
    background-color: gray;
}
#box7{
    display: flex;
    font-size:13px;
    color:white;
    font-weight: bold;
    border:transparent;
    width:135px;
    height:40px;
    text-align: center;
    padding:10px 10px;
    border-radius: 10px;
    transition: 0.1s;
}
#box7 i{
    margin-right: 3px;
}
#box7:hover{
    transition:0.1s;
    background-color: white;
    color:black;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}
#box8{
    color:white;
    font-weight: bold;
    border:transparent;
    width:50px;
    height:40px;
    text-align: center;
    padding:9px 0px;
    border-radius: 150%;
    transition: 0.1s;
    margin-left:100px;
}
#box8 span{
    font-size:20px;
}
#box8:hover{
    transition:0.1s;
    background-color: white;
    color:black;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}
#nav select{
    font-weight: bold;
    height:40px;
    width:70px;
    font-size:12px;
    padding:0px 5px;
    background-color: transparent;
    border: transparent;
    color:white;
    transition:0.1s;
    border-radius: 10px;
}
#nav select:hover{
    transition:0.1s;
    background-color: white;
    color:black;
    cursor: pointer;
    box-shadow: 0px 0px 10px white;
}
#box9{
    margin-left: -10px;
}
#box10{
    padding:10px 0px;
    height:40px;
    width:40px;
    text-align: center;
    border-radius: 100px;
    border:transparent;
    transition:0.1s;
}
#box10:hover{
    transition:0.1s;
    background-color: white;
    color:black;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}
#box11{
    width:40px;
    height:40px;
    border:transparent;
    border-radius: 100px;
    transition:0.1s;
}
#box11:hover{
    transition:0.1s;
    border:2px solid white;
    box-shadow: 0px 0px 10px white;
    cursor: pointer;
}
#box11 img{
    width:100%;
    height:100%;
    border-radius: 100px;
}
#box12{
    width:100px;
    height:40px;
    background-color: rgb(26, 149, 249);
    font-size:15px;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding:12px 0px;
    box-shadow: 0px 0px 2px rgb(26, 149, 249);
    transition: 0.1s;
    margin-left: 10px;
    border: transparent;
}
#box12:hover{
    transition:0.1s;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(26, 149, 249);
}
#content{
    background-color: black;
    display: flex;
    align-items: center;
    width:100%;
    height:90%;
}
#part1{
    padding:80px 30px;
    width:650px;
    height:100%;
    background-color: black;
    box-shadow: 0px 0px 50px black;
}
#part1 h1{
    color:white;
    margin-left: 50px;
    font-size:50px;
}
#part1 p{
    margin-top:40px;
    color:white;
    margin-left:50px;
    font-weight: bold;
}
#part1 button{
    margin-top:50px;
    width:220px;
    height:60px;
    background-color: white;
    color:black;
    margin-left: 50px;
    border-radius: 10px;
    font-weight: 590;
    border:transparent;
    transition:0.1s;
}
#part1 button:hover{
    transition:0.1s;
    width:240px;
    height:70px;
    font-size:20px;
    color:rgb(85, 85, 85);
    cursor: pointer;
}
#part2{
    margin-top: 20px;
    width:650px;
    height:100%;
    background-image: url("https://assets.aboutamazon.com/2d/49/abd3719b41aea4605bb51e4d8d72/subs-pre-order-consent-background-image-cb578173463.jpg");
    background-position: right;
    background-size: cover;
    border-radius: 10px;
}
#rentals{
    width:100%;
    height:150%;
    background-color: black;
    padding:60px 30px;
    display: flex;
    align-items: center;
}
#detail{
    margin-top: 150px;
    padding:90px 10px;
    width:700px;
    height:70%;
    background-color: black;
    box-shadow: 0px 0px 50px black;
}
#detail h1{
    color:white;
    margin-left: 30px;
    font-size:50px;
}
#detail p{
    margin-top:40px;
    color:white;
    margin-left:30px;
    font-size:19px;
    font-weight: bold;
}
#detail button{
    margin-top:50px;
    width:140px;
    height:60px;
    background-color: white;
    color:black;
    margin-left: 30px;
    border-radius: 10px;
    font-weight: 590;
    border:transparent;
    transition:0.1s;
}
#detail button:hover{
    transition:0.1s;
    width:150px;
    height:70px;
    font-size:20px;
    color:rgb(85, 85, 85);
    cursor: pointer;
}
#poster{
    margin-top: 230px;
    width:700px;
    height:80%;
    background-image: url("https://www.online-tech-tips.com/wp-content/uploads/2022/03/featured-image-2.jpg");
    background-size: cover;
    background-position: right;
    border-radius: 10px;
}
